@model PiePizzeria.ViewModels.HomeViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/site.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()
</body>
</html>